html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 10%;
    /* Margin bottom by footer height */
    margin-bottom: 90px;
	background-image: url("../images/textured_paper_@2X.png");
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    display: block;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

textarea {
	width: 100%;
	overflow: auto;
    resize: none;
    border: 1px solid #e6e6e6;
}

.form-control {
    border: 1px solid #e6e6e6;
}

main {
    padding-left: 15%;
    padding-right: 15%;
}

.media-object {
    float: left;
    padding-right: 2%;
}

.panel-heading h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    font-size: 2em;
}

.panel-heading h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    display: block;
    font-size: 1.5em;
}

.panel-heading {
    padding: 20px;
}

@keyframes slidein {

}

.navbar {
    background-color: white;
    border: 2px solid #cccccc;
    padding-left: 15%;
    padding-right: 15%;
}

.navbar-right {
    margin-right: 0;
}

.navbar-default .navbar-brand {
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    text-align: center;
    /*width: 70%;*/
    height: 133%;
    margin-top: 0;
    font-size: 2.5em;
    padding-top: 25px;
}

 .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}

.navbar-header {
    /*width: 50%;*/
    height: 60px;
}


/* Quick hack to stop background color from changing when pointer hovers */
.navbar-default .navbar-brand:hover {
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
}

.nav > li {
    top: 4px;
    height: 80px;
}

.btn-default {
    background-color: #4aaaa5;
    color: white;
}

.btn-primary {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #4aaaa5;
    color: white;
    width: 100%;
    height: 55px;
    line-height: 35px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid #e6e6e6;
}

.btn-primary:hover {
    background-color: #dcefee;
    color: #777777;
    border: 1px solid #4aaaa5;
}

.thumbnail {
    border: 1px solid #cccccc;
    margin-bottom: 0;
    padding: 0;
}

.thumbnail .caption {
    padding: 0;
}

.top-buffer {
    margin-top: 20px;
}

.external-links {
    width: 60px;
    height: 60px;
    display: inline-block;
}

.external-links span {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;

    z-index: 1;
}

#github {
    background-image: url('../images/github_icon_normal.png');
    background-repeat: no-repeat;
}

#github:hover {
    background-image: url('../images/github_icon_hover.png');
    background-repeat: no-repeat;
}

#linkedin {
    background-image: url('../images/linkedin_icon_normal.png');
    background-repeat: no-repeat;
}

#linkedin:hover {
    background-image: url('../images/linkedin_icon_hover.png');
    background-repeat: no-repeat;
}

#stackoverflow {
    background-image: url('../images/stackoverflow_icon_normal.png');
    background-repeat: no-repeat;
}

#stackoverflow:hover {
    background-image: url('../images/stackoverflow_icon_hover.png');
    background-repeat: no-repeat;
}

.footer {
    position: absolute;
    height: 90px;
    width: 100%;
    background-color: grey;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    line-height: 72px;
    color: #bfbfbf;
    left: 0;
    bottom: 0;
}

.footer > .container > .text-muted {
    color: #bfbfbf;
}

@media screen and (max-width:  640px) {
    .container {
        padding-top: 50%;
        margin-left: 10%;
    }

    .footer-container {
        padding-top: 0;
    }

    .navbar-brand {
        width: 115%;
    }

    .navbar-right {
        padding-top: 2%;
        width: 117.5%;
    }
}

@media screen and (max-width:  768px) {
    main {
        padding-top: 5%;
        padding-left: 1%;
    }

    .navbar {
        padding-left: 1%;
        padding-right: 10%;
    }

    .btn-primary {
        width: 58.7%;
        margin-left: 20.7%
    }
}

@media screen and (max-width:  980px) {
    .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
    }

    .navbar-right {
        margin-right: -10%;
    }
}
