body {
    height: 100%;
    padding-top: 10%;
	background-image: url("../images/textured_paper_@2X.png");
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    display: block;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

textarea {
	width: 100%;
	overflow: auto;
}

main {
    padding-left: 15%;
    padding-right: 15%;
}

.media-object {
    float: left;
    padding-right: 2%;
}

.panel-heading h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    font-size: 2em;
}

.panel-heading h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    display: block;
    font-size: 1.5em;
}

@keyframes slidein {

}

.navbar {
    background-color: white;
    border: 2px solid #cccccc;
    /*height: 10%;*/
    padding-left: 15%;
    padding-right: 15%;
}

.navbar-default .navbar-brand {
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    text-align: center;
    /*width: 70%;*/
    height: 133%;
    margin-top: 0;
    font-size: 2.5em;
    padding-top: 25px;
}

.navbar-header {
    /*width: 50%;*/
    height: 60px;
}


/* Quick hack to stop background color from changing when pointer hovers */
.navbar-default .navbar-brand:hover {
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
}

.nav > li {
    top: 4px;
    height: 80px;
}

.portfolioImage {
    position: relative;
}

.portfolioLink {
    position: absolute;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #4aaaa5;
    color: white;
    width: 92%;
    height: 50px;
    top: 0;
    left: 0;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
}

.portfolioImgAndLink a:hover {
    background-color: #dcefee;
    color: #777777;
    text-decoration: none;
}

.portfolioLink.hangmanLink {
    /*top: 450px;*/
    line-height: 50px; /* for centering vertically */
    text-align: center;
    margin-top:  95px;
    margin-left: 15px;
}

.portfolioLink.rpgLink {
    /*top: 450px;
    left: 596px;*/
    line-height: 50px; /* for centering vertically */
    text-align: center;
    margin-top: 95px;
    margin-left: 15px;
}

.portfolioLink.triviaLink {
    /*top: 700px;*/
    line-height: 50px; /* for centering vertically */
    text-align: center;
    margin-top: 95px;
    margin-left: 15px;
}

.portfolioLink.rutgersLink {
    /*top: 700px;
    left:  596px;*/
    line-height: 50px; /* for centering vertically */
    text-align: center;
    margin-top: 95px;
    margin-left: 15px;
}

.portfolioLink.rockPaperLink {
    /*top: 940px;*/
    line-height: 50px; /* for centering vertically */
    text-align: center;
    margin-top: 95px;
    margin-left: 15px;
}

.top-buffer {
    margin-top: 20px;
}

.external-links {
    width: 60px;
    height: 60px;
    display: inline-block;
}

.external-links span {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;

    z-index: 1;
}

#github {
    background-image: url('../images/github_icon_normal.png');
    background-repeat: no-repeat;
}

#github:hover {
    background-image: url('../images/github_icon_hover.png');
    background-repeat: no-repeat;
}

#linkedin {
    background-image: url('../images/linkedin_icon_normal.png');
    background-repeat: no-repeat;
}

#linkedin:hover {
    background-image: url('../images/linkedin_icon_hover.png');
    background-repeat: no-repeat;
}

#stackoverflow {
    background-image: url('../images/stackoverflow_icon_normal.png');
    background-repeat: no-repeat;
}

#stackoverflow:hover {
    background-image: url('../images/stackoverflow_icon_hover.png');
    background-repeat: no-repeat;
}

@media screen and (max-width:  640px) {
    .portfolioLink {
        width: 92.7%;
    }
}

@media screen and (max-width:  768px) {
    .portfolioLink {
        width: 55.7%;
    }

    main {
        padding-top: 5%;
        padding-left: 1%;
    }

    .navbar {
        padding-left: 1%;
        padding-right: 0;
    }
}

@media screen and (max-width:  980px) {
    .portfolioImgAndLink {
        width: auto;
    }

    .portfolioLink {
        width: 55.7%;
    }
}
