.navbar {
	background-color: white;
	border: 2px solid #cccccc;
	height: 60px;
}

.navbar-default .navbar-brand {
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    height: 56px;
}

.navbar-default .navbar-nav > .active > a{
	height: 56px;
}

